table {
  border: 1px solid grey;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}

thead td {
  background-color: fuchsia;
}

tbody tr:nth-child(2n) td:first-child {
  background-color: lightgreen;
}
tbody tr:nth-child(2n + 1) td:first-child {
  background-color: darkgreen;
}

tbody tr:nth-child(2n) td {
  background-color: lightgray;
}
tbody tr:nth-child(2n + 1) td {
  background-color: white;
}
