table {
  border: 1px solid grey;
}
td {
  border: 1px solid black;
}

thead td {
  background-color: fuchsia;
}

tbody tr:nth-child(even) td {
  background-color: green;
}

tfoot td {
  background-color: cornflowerblue;
}
